header {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  border-bottom: 0.2px solid rgb(219, 219, 219);
  padding: 0.5rem 4rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .css-btn {
    background-color: #00bf6b;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    .bx {
      font-size: 1.3rem;
    }
    &:hover {
      border: 1px solid gray;
      background-color: rgb(92, 166, 92);
      transition: 0.5s;
    }
  }
}
@media (max-width: 360px) {
  header {
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .css-btn {
      background-color: #00bf6b;
      color: black;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      cursor: pointer;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        display: none;
      }
      .bx {
        font-size: 1.5rem;
      }
      &:hover {
        border: 1px solid gray;
        background-color: rgb(92, 166, 92);
        transition: 0.5s;
      }
    }
  }
}
