.shareForm {
  width: 50%;
  height: auto;
  padding: 2rem 2rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 45%;
  left: 26%;
  z-index: 2000;
  display: none;
  .div-content{
    text-align: center;
  }
  .form {
    display: flex;
    width: 100%;
    padding-top: 2rem;
    input {
      font-size: 1rem;
      outline: none;
      width: 100%;
      border-top-left-radius: 0.4rem;
      border-bottom-left-radius: 0.4rem;
      padding: 0.3rem 0.5rem;
      border: none;
      background-color: #e2e7ef;
    }
    button {
      border-top-right-radius: 0.4rem;
      border-bottom-right-radius: 0.4rem;
      font-size: 1rem;
      border: none;
      background-color: #e2e7ef;
      width: 100%;
      padding: 0.3rem 0.5rem;
      cursor: pointer;
    }
  }
  .done {
    margin-top: 2rem;
    text-align: end;
    .doneBtn {
      background-color: blue;
      color: white;
      font-size: 1rem;
      border-radius: 1rem;
      border: none;
      padding: 0.3rem 1rem;
      cursor: pointer;
    }
  }
}
@media(max-width:920px){
    .shareForm {
        width: 80%;
        height: auto;
        padding: 1rem 1rem;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        position: fixed;
        top: 50%;
        left: 13%;
        z-index: 2000;
        display: none;
        .div-content{
          text-align: center;
          font-size: 13px;
        }
        .form {
          display: flex;
          width: 100%;
          padding-top: 2rem;
          input {
            font-size: 1rem;
            outline: none;
            width: 100%;
            border-top-left-radius: 0.4rem;
            border-bottom-left-radius: 0.4rem;
            padding: 0.3rem 0.5rem;
            border: none;
            background-color: #e2e7ef;
          }
          button {
            border-top-right-radius: 0.4rem;
            border-bottom-right-radius: 0.4rem;
            font-size: 1rem;
            border: none;
            background-color: #e2e7ef;
            width: 100%;
            padding: 0.3rem 0.5rem;
            cursor: pointer;
          }
        }
        .done {
          margin-top: 2rem;
          text-align: end;
          .doneBtn {
            background-color: blue;
            color: white;
            font-size: 1rem;
            border-radius: 1rem;
            border: none;
            padding: 0.3rem 1rem;
            cursor: pointer;
          }
        }
      }    
}
@media(max-width:484px){
    .shareForm {
        width: 80%;
        height: auto;
        padding: 1rem 1rem;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        position: fixed;
        top: 50%;
        left: 10%;
        z-index: 2000;
        display: none;
        .div-content{
          text-align: center;
          font-size: 13px;
        }
        .form {
          display: flex;
          width: 100%;
          padding-top: 2rem;
          input {
            font-size: 1rem;
            outline: none;
            width: 100%;
            border-top-left-radius: 0.4rem;
            border-bottom-left-radius: 0.4rem;
            padding: 0.3rem 0.5rem;
            border: none;
            background-color: #e2e7ef;
          }
          button {
            border-top-right-radius: 0.4rem;
            border-bottom-right-radius: 0.4rem;
            font-size: 1rem;
            border: none;
            background-color: #e2e7ef;
            width: 100%;
            padding: 0.3rem 0.5rem;
            cursor: pointer;
          }
        }
        .done {
          margin-top: 2rem;
          text-align: end;
          .doneBtn {
            background-color: blue;
            color: white;
            font-size: 1rem;
            border-radius: 1rem;
            border: none;
            padding: 0.3rem 1rem;
            cursor: pointer;
          }
        }
      }    
}
@media(max-width:360px){
    .shareForm {
        width: 80%;
        height: auto;
        padding: 1rem 1rem;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        position: fixed;
        top: 50%;
        left: 10%;
        z-index: 2000;
        display: none;
        .div-content{
          text-align: center;
          font-size: 13px;
        }
        .form {
          display: flex;
          width: 100%;
          padding-top: 2rem;
          input {
            font-size: 1rem;
            outline: none;
            width: 100%;
            border-top-left-radius: 0.4rem;
            border-bottom-left-radius: 0.4rem;
            padding: 0.3rem 0.5rem;
            border: none;
            background-color: #e2e7ef;
          }
          button {
            border-top-right-radius: 0.4rem;
            border-bottom-right-radius: 0.4rem;
            font-size: 1rem;
            border: none;
            background-color: #e2e7ef;
            width: 100%;
            padding: 0.3rem 0.5rem;
            cursor: pointer;
          }
        }
        .done {
          margin-top: 2rem;
          text-align: end;
          .doneBtn {
            background-color: blue;
            color: white;
            font-size: 1rem;
            border-radius: 1rem;
            border: none;
            padding: 0.3rem 1rem;
            cursor: pointer;
          }
        }
      }    
}
